<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="LocalNuget" />
    </packageSource>
  </packageSourceMapping>
</configuration>
